@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
  box-sizing: border-box;
  color: #fff;
}

html,
body {
  min-height: 100%;
  background-color: #0e0e0e;
  width: 100%;
  position: relative;
}

#menu {
  display: none;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

#tasklist::-webkit-scrollbar {
  display: none;
}

#AllTasks::-webkit-scrollbar {
  display: none;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #ffffff00;
  backdrop-filter: blur(10px);
  height: 100vh;
  width: 300px;
  position: fixed;
  z-index: 500;
  top: 0;
  right: 0;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar li {
  width: 100%;
  margin: 15px 25px;
}

#responsiveNav nav ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.responsive-input {
  background-color: blue;
}

#gola1 {
  background-color: #e16c18;
  position: absolute;
  right: 0;
  z-index: 2;
  height: 45vh;
  width: 45vh;
  border-radius: 50%;
  filter: blur(17px);
  /* opacity:0; */
}

.login-div2 {
  margin-left: 2.5%;
  width: 25vw;
}

#login-div1 {
  position: relative;
  width: 50vw;
  min-height: 80vh;
  z-index: 3;
  margin-top: 5%;
}
#titleText {
  font-size: 5vw;
  text-transform: uppercase;
  font-weight: 700;
}

#titleText span {
  color: whitesmoke;
}

.title-container {
  font-size: 50px;
}

.login-div2 {
  height: 95vh;
}

/************* MEDIA QUERIES ****************/
@media (max-width: 425px) {
  .login-div2 {
    margin: 0;
    width: 100%;
    border-radius: 0%;
    max-width: 100%;
    padding: 3;
  }

  .responsive-tasks div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .sidebar {
    width: 100%;
  }

  .logout-btn {
    opacity: 0;
  }

  #menu {
    display: block;
  }
}

@media (max-width: 341px) {
  .responsive-input {
    padding: 10px 12px;
    font-size: 14px;
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .responsive-tasks {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
  }

  .tasklist-children {
    display: flex;
    scroll-snap-type: x mandatory;
  }

  .tasklist-children .active-tasks {
    width: 100%;
    height: auto;
    scroll-snap-align: center;
    flex: 0 0 100%;
  }
  .tasklist-children .new-tasks {
    width: 100%;
    height: auto;
    scroll-snap-align: center;
    flex: 0 0 100%;
  }
  .tasklist-children .failed-tasks {
    width: 100%;
    height: auto;
    scroll-snap-align: center;
    flex: 0 0 100%;
  }

  .responsive-btn {
    margin: 2px;
    height: auto;
    width: 40vw;
  }
}

@media (max-width: 495px) {
  .responsive-tasks div h3 {
    font-size: 92%;
  }
}

@media (max-width: 927px) {
  .tasklist-children .active-tasks {
    width: 100%;
    height: auto;
  }
  .tasklist-children .new-tasks {
    width: 100%;
    height: auto;
  }
  .tasklist-children .failed-tasks {
    width: 100%;
    height: auto;
  }

  .tasklist-children {
    display: flex;
    scroll-snap-type: x mandatory;
    margin-right: 25%;
  }

  .tasklist-children .new-tasks {
    width: 85vw;
  }
}

@media (max-width: 510px) {
  .tasklist-children {
    width: 60vw;
    height: auto;
    margin-right: 15%;
  }
}

@media (max-width: 350px) {
  .responsive-tasks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .responsive-tasks div {
    width: 75%;
  }

  #date-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  #date-container h3{
    margin-bottom: 15px;
  }
}
